.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
engapp/.gitignore
engapp/babel.config.js
engapp/package-lock.json
engapp/package.json
engapp/README.md
engapp/public/favicon.ico
engapp/public/index.html
engapp/src/App.vue
engapp/src/main.js
engapp/src/assets/logo.png
engapp/src/components/HelloWorld.vue
